<div class="main-container" ng-controller="programCtrl">
  <md-content layout-padding layout-wrap>
    <div class="about_img" flex="100"></div>
    <div flex-xl="50" flex-offset-xl="25" flex-lg="50" flex-offset-lg="25" flex-md="70" flex-offset-md="15" flex-sm="90" flex-offset-sm="5" flex-xs="100">
      <span translate>{{'PROGRAM.1_1'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films1_1">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <span translate>{{'PROGRAM.1_2'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films1_2">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <span translate>{{'PROGRAM.1_3'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films1_3">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
    <div flex-xl="50" flex-offset-xl="25" flex-lg="50" flex-offset-lg="25" flex-md="70" flex-offset-md="15" flex-sm="90" flex-offset-sm="5" flex-xs="100">
      <span translate>{{'PROGRAM.2_1'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films3_1">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <span translate>{{'PROGRAM.2_2'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films4_1">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <span translate>{{'PROGRAM.2_3'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films4_2">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <span translate>{{'PROGRAM.2_4'}}</span>
      <md-table-container>
        <table md-table md-row-select multiple>
          <tbody md-body>
            <tr md-row ng-repeat="film in films4_3">
              <td md-cell>{{film.FIELD1}}</td>
              <td md-cell>{{film.FIELD2}}</td>
              <td md-cell>{{film.FIELD3}}</td>
              <td md-cell>{{film.FIELD4}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
    <div flex-xl="50" flex-offset-xl="25" flex-lg="50" flex-offset-lg="25" flex-md="70" flex-offset-md="15" flex-sm="90" flex-offset-sm="5" flex-xs="100">
      <span translate>{{'PROGRAM.3_1'}}</span>
      <span translate>{{'PROGRAM.3_2'}}</span>
    </div>
    <div flex-xl="50" flex-offset-xl="25" flex-lg="50" flex-offset-lg="25" flex-md="70" flex-offset-md="15" flex-sm="90" flex-offset-sm="5" flex-xs="100">
      <span translate>{{'PROGRAM.4_1'}}</span>
      <span translate>{{'PROGRAM.4_2'}}</span>
    </div>
    <div flex-xl="50" flex-offset-xl="25" flex-lg="50" flex-offset-lg="25" flex-md="70" flex-offset-md="15" flex-sm="90" flex-offset-sm="5" flex-xs="100">
      <span translate>{{'PROGRAM.5_1'}}</span>
      <span translate>{{'PROGRAM.5_2'}}</span>
    </div>
  </md-content>
</div>
