<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h2><a ui-sref="index"><img class="logomenu" src="img/terres.png" alt="Logo terres"></a></h2>
    <span flex></span>
    <md-button show-gt-sm hide ui-sref="register"><span translate>{{'REGISTRATION_MENU'}}</span></md-button>
    <md-button show-gt-sm hide ui-sref="participate"><span translate>{{'PARTICIPATE_MENU'}}</span></md-button>
    <md-button show-gt-sm hide ui-sref="partners"><span translate>{{'PARTNERS_MENU'}}</span></md-button>
    <md-button show-gt-sm hide ui-sref="news"><span translate>{{'NEWS_MENU'}}</span></md-button>
    <md-button show-gt-sm hide ui-sref="about"><span translate>{{'ABOUT_MENU'}}</span></md-button>
    <md-button show-gt-sm hide ng-click="showNewsletter($event)"><span translate>{{'NEWSLETTER_MENU'}}</span></md-button>
    <md-select show-gt-sm hide ng-model="userLang" aria-label="Select language" ng-change="setLang()" class="md-no-underline">
      <md-option ng-repeat="idi in langs" value="{{idi}}" aria.label="{{idi}}" ng-selected="isCurrentLang('{{idi | lowercase}}')">{{idi}}</md-option>
    </md-select>
    <md-button hide-gt-sm aria-label="menu" ng-click="toggleRight()"><md-icon class="md-default-theme" md-svg-src="img/ic_menu_black_24px.svg"></md-icon></md-button>
  </div>
</md-toolbar>
