<md-dialog aria-label="Subscribe to our newsletter">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>terres film festival</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{'NEWSLETTER.THANKS' | translate}}</h2>
        <md-input-container flex>
          <label for="EMAIL">{{'NEWSLETTER.EMAIL' | translate}}</label>
          <input type="email" name="newsEmail" ng-model="newsEmail" required="true">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="subscribe()">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
