<md-dialog aria-label="Subscribe to our newsletter">
  <form ng-cloak name="formSubscribe">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>terres film festival</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout="column" layout-align="start" flex="">
        <h2>{{'NEWSLETTER.THANKS' | translate}}</h2>
        <md-input-container>
          <label for="newsName">{{'NEWSLETTER.NAME' | translate}}</label>
          <input type="text" name="newsName" ng-model="newsName" required="true" flex="100">
        </md-input-container>
        <md-input-container>
          <label for="newsSurname">{{'NEWSLETTER.SURNAME' | translate}}</label>
          <input type="text" name="newsSurname" ng-model="newsSurname" required="true" flex="100">
        </md-input-container>
        <md-input-container>
          <label for="EMAIL">{{'NEWSLETTER.EMAIL' | translate}}</label>
          <input type="email" name="newsEmail" ng-model="newsEmail" required="true" flex="100">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="subscribe()" ng-disabled="formSubscribe.$invalid">
        OK
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
