.about_img{
  height: 150px;
  background-image: url(../img/cabiscol_MG_2571.jpg);
  background-size: cover;
  background-position: center bottom;
}
.program_img{
  height: 150px;
  background-image: url(../img/_MG_5908.jpg);
  background-size: cover;
  background-position: center center;
}
