html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: auto !important;
}

body, h1, h2, h3 {
  font-weight: 300
}

.main-container ._md{
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #5aadbb;
}

terres-menu{
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
}
.md-sidenav-right{
  padding: 5px 25px;
}
.md-sidenav-right .md-button{
  width: 100%;
}
.md-sidenav-right md-select{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.logomenu{
  width: 55px;
  margin-right: .8rem;
}
.logomenuterres{
  height: 40px;
  margin-right: 2rem;
}
.actiu{
  top: 0;
}
.noindex{
  top: 0 !important;
}
/*.md-select-menu-container{
  z-index: 9999;
}*/
md-toolbar md-select .md-text{
  font-size: 15px;
}
md-select-menu md-content{
  min-width: 45px;
}
md-select-menu md-option{
  height: 35px;
}
md-select-menu .md-text{
  font-size: 15px;
}
md-menu-item span{
  text-transform: uppercase;
}

.main-container {
  /*display: flex;
  flex-direction: column;*/
  height: calc(100vh - 50px);
  padding-top: 50px;
}

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mainvideo{
  position: absolute;
  min-height: calc(100vh - 50px);
  min-width: 100vw;
  z-index: -9999;
  top: 0;
  left: 0;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}
.title-h1 {
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem;
}
.title-logo {
  max-height: 8rem;
  max-width: 70vw !important;
  position: relative;
  z-index: 1;
}
.title-program {
  position: relative;
  z-index: 1;
}
.title-h2 {
  font-weight: 300;
  font-size: 1rem;
  margin: .5rem;
  position: relative;
  z-index: 1;
  color: white;
}
.title-h2 img{
  height: 1.5rem;
}
.title div{
  margin-top: calc(50vh - 15rem);
}
.title .black{
  background-color: rgba(0,0,0,.7);
  width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.covervid-video{
  z-index: -1;
}
.magnificent-slider{
  z-index: 0 !important;
}
.social{
  position: fixed;
  z-index: 9999;
  width: 100vw;
  bottom: 30px;
}
.social [socialshare]{
  margin-right: 5px;
  margin-left: 5px;
}
.news [socialshare]{
  margin-right: 5px;
  margin-left: 5px;
}
.terreslab_center{
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: calc(50% - 7vh);
}
.terreslab_center img{
  height: 15vh;
  padding: 10px 25px;
}
.terreslablogo{
  margin: 0 20px 0 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(150,150,150,.8);
}
.terreslablogo:hover{
  background-color: rgba(150,150,150,1);
}
.terreslab_desc{
  text-align: center;
}
.tl_pay{
  height: 150px;
  background-image: url(../img/Horta_MG_0011.jpg);
  background-size: cover;
  background-position: center bottom;
}
.tl_partner{
  width: 100%;
}
html.md-default-theme, html, body.md-default-theme, body{
  background-color: rgba(0,0,0,0);
}
@media only screen and (orientation: landscape) {
  #tl_background{
    background-image: url('../img/tortosanocturn.jpg');
    background-size: cover;
    background-position: center bottom;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;

  }
  #terreslab{
    padding-top: 10vh;
    background-color: rgba(0,0,0,0);
    /*overflow-y: scroll;*/
  }
  #terreslablogo{
    height: 30vh;
  }
  #terreslab h1{
    margin-left: .6rem;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
  }
  #terreslab p{
    color: white;
  }
  #terreslab ul{
    color: white;
  }
  #terreslab .tl_link a{
    color: #00dec1;
  }
}
@media only screen and (orientation: portrait) {
  #tl_background{
    background-image: url('../img/_MG_0537.jpg');
    background-size: cover;
    background-position: center bottom;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  #tl_logo{
    margin-left: -16px;
  }
  #terreslab{
    background-color: rgba(0,0,0,0);
    padding-top: 6vh;
    overflow-y: scroll;
  }
  #terreslablogo{
    height: 15vh;
  }
  .white_trans{
    width: 100vw;
    background-color: rgba(255,255,255,.3);
    margin-bottom: 1.3rem;
  }
  #terreslab h1{
    margin-left: .6rem;
    font-size: 3vw;
    color: white;
    background-color: rgba(0, 222, 193, 0.3);
    text-decoration: none;
  }
  #terreslab p{
    color: white;
  }
  #terreslab ul{
    color: white;
  }
  #terreslab .tl_link a{
    color: #00dec1;
  }
}
.terres{
  letter-spacing: -0.05rem;
}
md-toolbar{
  min-height: 50px;
}
.md-toolbar-tools{
  height: 50px;
}

terres-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.footer {
  padding: 0.3rem;
  font-size: .6rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}
md-dialog-content{
  padding-left: 1rem;
  padding-right: 1rem;
}
.smallvat{
  font-size: 0.5rem;
}
.newspost p{
  text-align: justify;
}
/**************************/
/* Start Ribbon early fee */
/**************************/
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
.overlay-ribbon {
  position: absolute;
  width: 15em;
  height: 10em;
  z-index: 5;
  top: 0;
  left: 2%;
  background: #2ec4b6;
  padding: 5px 0;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #cbf3f0), color-stop(1, #2ec4b6));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center top, #cbf3f0 0%, #2ec4b6 100%);
  -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  animation: slidein 15s ease-in-out forwards;
}

.ribbon-content {
  z-index: 99999;
  position: relative;
  margin: 0 5px;
}
/*
.ribbon-content h2 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 5rem;
}*/

.ribbon-content h3 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.ribbon-content > p {
  color: #24505a;
  margin: 0;
  padding-left: 10px;
}

.ribbon-content > small {
  color: #24505a;
  margin: 0;
  padding-left: 10px;
  font-size: 0.6rem;
}

.overlay-ribbon:before {
  content: "";
  position: absolute;
  bottom: -9em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #2ec4b6;
  border-right: 10em solid transparent;
  z-index: 997;
}

.overlay-ribbon:after {
  content: "";
  position: absolute;
  bottom: -9em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #2ec4b6;
  border-left: 10em solid transparent;
  z-index: 998;
}

@-webkit-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-o-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-moz-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

.overlay-ribbon-mobile {
  position: absolute;
  width: 10em;
  height: 5em;
  z-index: 5;
  bottom: 0;
  left: calc(50% - 5em);
  background: #2ec4b6;
  padding: 5px 0;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #cbf3f0), color-stop(1, #2ec4b6));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center top, #cbf3f0 0%, #2ec4b6 100%);
  -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  animation: slideinmobile 15s ease-in-out forwards;
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .overlay-ribbon-mobile {
    left: 10px;
  }
}

.ribbon-content-mobile {
  z-index: 99999;
  position: relative;
  margin: 0 5px;
}
/*
.ribbon-content-mobile h2 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 2.2rem;
  line-height: .8em;
}*/

.ribbon-content-mobile h3 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.ribbon-content-mobile > p {
  color: #24505a;
  margin: 0;
  padding: 3px;
  font-size: .6rem;
}

.ribbon-content-mobile > .smallvat {
  font-size: .3rem;
}

.overlay-ribbon-mobile:before {
  content: "";
  position: absolute;
  bottom: -5.5em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6em solid #2ec4b6;
  border-right: 5.5em solid transparent;
  z-index: 997;
}

.overlay-ribbon-mobile:after {
  content: "";
  position: absolute;
  bottom: -5.5em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 6em solid #2ec4b6;
  border-left: 5.5em solid transparent;
  z-index: 998;
}

@-webkit-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-o-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-moz-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@keyframes slideinmobile {
  0%  {transform: translate(0, 800px);}
  10% {transform: translate(0, -200px);}
  90% {transform: translate(0, -200px);}
  100%  {transform: translate(0, 800px);}
}

/*******************************************/
/*      CLICK FOR FESTIVALS FOOTER         */
/*******************************************/
.clickfooter{
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 1.3rem;
  left: 0;
  width: 100%;
  z-index: 9998;
  border-top: 1px solid #DCDCDC;
}

.clickfooter a{
  margin-right: 40px;
  margin-left: 40px;
}

.register-form-data{
  padding-bottom: 100px;
}

/**********************/
/*      LOGIN         */
/**********************/
.login{
  text-align: center;
  background-color: rgba(255,255,255,.8);
}
.login img{
  max-width: 250px;
  width: 100%;
}
section{
  height: 100vh;
}
.loginback{
  background-image: url('../img/deltebre-16.jpg');
  background-size: cover;
  background-position: bottom;
}

/****************************/
/*      TL REGISTER         */
/****************************/
.register-tl{
  padding-top: 50px;
}

/***********************************/
/*      OFFICIAL COMPETITION       */
/***********************************/
.logo_official{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.logo_official img{
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.films h3{
  text-transform: uppercase;
  font-weight: bolder;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.6);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.popup-text{
  background-color: white;
  position: fixed;
  width: 600px;
  height: 200px;
  top: calc(50vh - 100px);
  left: calc(50vw - 300px);
  padding: 15px;
}
.popup-text img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.gallery{
  padding-bottom: 0 !important;
}
