html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: auto !important;
}

body, h1, h2, h3 {
  font-weight: 300
}

.main-container ._md{
  padding-bottom: 30px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #5aadbb;
}

terres-menu{
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
}
.md-sidenav-right{
  padding: 5px 25px;
}
.md-sidenav-right .md-button{
  width: 100%;
}
.md-sidenav-right md-select{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.logomenu{
  height: 1.2rem;
}
.actiu{
  top: 0;
}
.noindex{
  top: 0 !important;
}
/*.md-select-menu-container{
  z-index: 9999;
}*/
md-toolbar md-select .md-text{
  font-size: 15px;
}
md-select-menu md-content{
  min-width: 45px;
}
md-select-menu md-option{
  height: 35px;
}
md-select-menu .md-text{
  font-size: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  padding-top: 50px;
}

// Estils per a la pàgina principal
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}
.title-h1 {
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem;
}
.title-logo {
  max-height: 18rem;
  max-width: 60vw;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}
.title-h2 {
  font-weight: 300;
  font-size: 1rem;
  margin: .5rem;
  position: relative;
  z-index: 1;
}
.title-h2 img{
  height: 1.5rem;
}
.magnificent-slider{
  z-index: 0 !important;
}
.social{
  position: fixed;
  z-index: 9999;
  width: 100vw;
  bottom: 30px;
}
.social [socialshare]{
  margin-right: 5px;
  margin-left: 5px;
}
.news [socialshare]{
  margin-right: 5px;
  margin-left: 5px;
}
.terreslab_center{
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: calc(50% - 3vh);
}
.terreslab_center img{
  height: 6vh;
}
.terreslab_center div:first-child{
  margin-right: 5px;
}
.terreslablogo{
  cursor: pointer;
}
.terreslab_desc{
  text-align: center;
}
@media only screen and (orientation: landscape) {
  #terreslab{
    background-image: url('../img/tortosanocturn.jpg');
    background-size: cover;
    background-position: center bottom;
  }
  #terreslab md-content.md-default-theme, md-content{
    padding-top: 10vh;
    background-color: rgba(0,0,0,0);
  }
  #terreslablogo{
    height: 30vh;
  }
  #terreslab h1{
    margin-left: .6rem;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
  }
  #terreslab p{
    color: white;
  }
  #terreslab a{
    color: #00dec1;
  }
}
@media only screen and (orientation: portrait) {
  #terreslab{
    background-image: url('../img/_MG_0537.jpg');
    background-size: cover;
    background-position: center bottom;
  }
  #terreslab md-content.md-default-theme, md-content{
    background-color: rgba(0,0,0,0);
    padding-top: 10vh;
  }
  #terreslablogo{
    max-width: 70vw;
    max-height: 30vh;
  }
  .white_trans{
    padding: 1rem 0 1rem 0;
    width: 100vw;
    background-color: rgba(255,255,255,.3);
    margin-bottom: 2rem;
  }
  #terreslab h1{
    margin-left: .6rem;
    font-size: 3vw;
    color: white;
    background-color: rgba(0, 222, 193, 0.3);
    text-decoration: none;
  }
  #terreslab p{
    color: white;
  }
  #terreslab a{
    color: #00dec1;
  }
}
.terres{
  letter-spacing: -0.05rem;
}
md-toolbar{
  min-height: 50px;
}
.md-toolbar-tools{
  height: 50px;
}

terres-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.footer {
  padding: 0.3rem;
  font-size: .6rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}
md-dialog-content{
  padding-left: 1rem;
  padding-right: 1rem;
}

/**************************/
/* Start Ribbon early fee */
/**************************/
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
.overlay-ribbon {
  position: absolute;
  width: 10em;
  height: 10em;
  z-index: 5;
  top: 0;
  left: 3%;
  background: #2ec4b6;
  padding: 5px 0;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #cbf3f0), color-stop(1, #2ec4b6));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center top, #cbf3f0 0%, #2ec4b6 100%);
  -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  animation: slidein 7s ease-in-out forwards;
}

.ribbon-content {
  z-index: 99999;
  position: relative;
  margin: 0 5px;
}

.ribbon-content h2 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 5rem;
}

.ribbon-content h3 {
  margin: 0;
  padding: 5px 0 5px 0;
  line-height: 16px;
  color: #24505a;
  text-align: center;
}

.ribbon-content > p {
  color: #24505a;
  margin: 0;
  padding: 10px;
}

.overlay-ribbon:before {
  content: "";
  position: absolute;
  bottom: -9em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #2ec4b6;
  border-right: 10em solid transparent;
  z-index: 997;
}

.overlay-ribbon:after {
  content: "";
  position: absolute;
  bottom: -9em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10em solid #2ec4b6;
  border-left: 10em solid transparent;
  z-index: 998;
}

@-webkit-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-o-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-moz-keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@keyframes slidein {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

.overlay-ribbon-mobile {
  position: absolute;
  width: 5em;
  height: 5em;
  z-index: 5;
  bottom: 0;
  left: calc(50% - 2.5em);
  background: #2ec4b6;
  padding: 5px 0;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #cbf3f0), color-stop(1, #2ec4b6));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, #2ec4b6 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center top, #cbf3f0 0%, #2ec4b6 100%);
  -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  animation: slideinmobile 7s ease-in-out forwards;
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .overlay-ribbon-mobile {
    left: 10px;
  }
}

.ribbon-content-mobile {
  z-index: 99999;
  position: relative;
  margin: 0 5px;
}

.ribbon-content-mobile h2 {
  margin: 0;
  padding: 5px 0 5px 0;
  color: #24505a;
  text-align: center;
  font-size: 2.2rem;
  line-height: .8em;
}

.ribbon-content-mobile h3 {
  margin: 0;
  padding: 5px 0 5px 0;
  line-height: 10px;
  color: #24505a;
  text-align: center;
  font-size: .8rem;
}

.ribbon-content-mobile > p {
  color: #24505a;
  margin: 0;
  padding: 3px;
  font-size: .6rem;
}

.overlay-ribbon-mobile:before {
  content: "";
  position: absolute;
  bottom: -5.5em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 6em solid #2ec4b6;
  border-right: 4em solid transparent;
  z-index: 997;
}

.overlay-ribbon-mobile:after {
  content: "";
  position: absolute;
  bottom: -5.5em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 6em solid #2ec4b6;
  border-left: 4em solid transparent;
  z-index: 998;
}

@-webkit-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-o-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@-moz-keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

@keyframes slideinmobile {
  0%  {transform: translate(0, -400px);}
  10% {transform: translate(0, 60px);}
  90% {transform: translate(0, 60px);}
  100%  {transform: translate(0, -400px);}
}

/*******************************************/
/*      CLICK FOR FESTIVALS FOOTER         */
/*******************************************/
.clickfooter{
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 1.3rem;
  left: 0;
  width: 100%;
  z-index: 9998;
  border-top: 1px solid #DCDCDC;
}

.register-form-data{
  padding-bottom: 100px;
}

/**********************/
/*      LOGIN         */
/**********************/
.login{
  text-align: center;
  background-color: rgba(255,255,255,.8);
}
.login img{
  max-width: 250px;
  width: 100%;
}
section{
  height: 100vh;
}
.loginback{
  background-image: url('../img/deltebre-16.jpg');
  background-size: cover;
  background-position: bottom;
}



/****************************/
/*      TL REGISTER         */
/****************************/
.register-tl{
  padding-top: 50px;
}
