.partners .logo{
  max-width: 100%;
}
.partners ._md{
  padding: 10px;
}
@media screen and (max-width: 599px) {
  .part_org{
    width: 60vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .part_org{
    width: 30vw;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .part_org{
    width: 20vw;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .part_org{
    width: 10vw;
  }
}
@media screen and (min-width: 1920px) {
  .part_org{
    width: 5vw;
  }
}
