.register {
  display: flex;
  flex-direction: row;
  color: white;
}
.register h1,h2{
  text-transform: uppercase;
  font-weight: 600;
  -webkit-backface-visibility: hidden;
}
register-doc:hover{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
register-tf:hover{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
register-cf:hover{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
.select-register{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in-out;
  color: rgba(255, 255, 255, .3);
  cursor: pointer;
}
register-doc{
  background: url('../img/IMG_9982.jpg') no-repeat center bottom;
  background-size: cover;
}
register-tf{
  background: url('../img/Horta_MG_9983.jpg') no-repeat center center;
  background-size: cover;
}
register-cf{
  background: url('../img/IMG_9982.jpg') no-repeat center center;
  background-size: cover;
}
.registerform{
  height: 100%;
}
.register-form{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: url('../img/setas.jpg') no-repeat center center;
  background-size: cover;
}
.register-form > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.register-form > div:hover{
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.register-form > div > h2{
  text-shadow: 2px 2px #000000;
}
.register-form-data{
  margin-top: 55px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mini{
  height: 35px;
}
