.mainvideo{
  position: absolute;
  height: 100vh;
  z-index: -9999;
  top: 0;
  left: 0;
}
.terreslab_img{
  height: 150px;
  background-image: url(../img/_MG_0537.jpg);
  background-size: cover;
  background-position: center bottom;
}
.logotl{
  max-width: 80vw;
}
.ponent{
  width: 100%;
}
.ponent img{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.terreslabbutton{
  margin: 0 1em 0 1em;
}
@media screen and (max-width: 600px) {
  .ponent img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  .ponent img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
