<section class="register-form-data">
  <h1>{{'REGISTER.NEW' | translate}}</h1>
  <hr>
  <h2>{{'CATEGORY' | translate}}: <strong>{{textCat}}</strong></h2>
  <h3>{{'REGISTER.G_INF' | translate}}</h3>
  <div layout="column" layout-gt-xs="row" flex>
    <md-input-container>
      <label for="nfilms">{{'REGISTER.N_FILMS' | translate}}</label>
      <input type="number" name="nfilms" ng-model="formData.nfilms" min="1" required="true" ng-change="updateImport()">
    </md-input-container>
    <md-input-container ng-hide="true">
      <label for="category">Category</label>
      <input type="text" name="category" ng-model="formData.category" ng-value="valCat">
    </md-input-container>
  </div>
  <h3>{{'REGISTER.P_INF' | translate}}</h3>
  <div layout="column" layout-gt-sm="row" flex>
    <md-input-container flex="100">
      <label for="pname">{{'REGISTER.P_NAME' | translate}}</label>
      <input type="text" name="pname" ng-model="formData.pname" required="true">
    </md-input-container>
    <md-input-container flex="100">
      <label for="cname">{{'REGISTER.C_NAME' | translate}}</label>
      <input type="text" name="cname" ng-model="formData.cname" required="true">
    </md-input-container>
    <md-input-container flex="100">
      <label for="vat">{{'REGISTER.VAT' | translate}}</label>
      <input type="text" name="vat" ng-model="formData.vat" required="true">
    </md-input-container flex="100">
  </div>
  <div layout="column" layout-gt-sm="row" flex>
    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100">
        <label for="address">{{'REGISTER.ADDR' | translate}}</label>
        <input type="text" name="address" ng-model="formData.address" required="true">
      </md-input-container>
      <md-input-container flex="100">
        <label for="address">{{'REGISTER.ZIP' | translate}}</label>
        <input type="text" name="zip" ng-model="formData.zip" required="true" maxlength="5">
      </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100">
        <label for="city">{{'REGISTER.CITY' | translate}}</label>
        <input type="text" name="city" ng-model="formData.city" required="true">
      </md-input-container>
      <md-input-container flex="100">
        <label for="country">{{'REGISTER.COUNTRY' | translate}}</label>
        <md-select ng-model="formData.country" required="true">
          <md-option ng-repeat="country in countries" ng-value="country.translations.es">
            {{country.translations.es}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <div layout="column" layout-gt-sm="row" flex>
    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100">
        <label for="phone">{{'REGISTER.PHONE' | translate}}</label>
        <input type="tel" name="phone" ng-model="formData.phone" required="true" maxlength="13">
      </md-input-container>
      <md-input-container flex="100">
        <label for="email">{{'REGISTER.EMAIL' | translate}}</label>
        <input type="email" name="email" ng-model="formData.email" required="true">
      </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100">
        <label for="web">{{'REGISTER.WEB' | translate}}</label>
        <input type="text" name="web" ng-model="formData.web">
      </md-input-container>
      <md-input-container flex="100">
        <label for="facebook">Facebook</label>
        <input type="text" name="facebook" ng-model="formData.facebook">
      </md-input-container>
    </div>
  </div>
  <div layout="row" layout-align="center" flex="">
    <md-button ng-disabled="!accept_terms" ng-click="process()" class="md-raised md-primary" type="submit">{{'SUBMIT' | translate}}</md-button>
    <md-checkbox ng-model="accept_terms" name="accept_terms" aria-label="terms">
      <span>{{'TERM1' | translate}}<a href="#" ng-click="showTerms()">{{'TERM2' | translate}}</a></span>
    </md-checkbox>
  </div>
</section>
<div class="clickfooter" layout="row" layout-align="center center">
  <p translate>{{'CLICK_REGISTER'}}</p>
  <a href="https://www.clickforfestivals.com/terres-catalunya"><img src="img/clickforfestivals.jpg" alt="logo click for festivals" /></a>
</div>
